#container {
  width: 90%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  gap: 30px;
  margin: auto;
  

}

#container > div img {
  width: 100%;
}

#submit {
  margin-top: 50px;
  display: grid;
  place-content: center;
  text-align: center;
  place-items: center;
  height: 5opx;


  
}

#button {
  display: grid;
  place-content: center;
  margin-top: 8px;
}

h1 {
  text-align: center;
}
